{% extends "base.html" %}
{% block title %}Ajouter Profil{% endblock %}
{% block content %}
	<h1>Ajout d'un profil:</h1>
	<form id="category_form" method="post" action="/profil/Ajouter_Profil/">
	 	{% csrf_token %}
	  	<div class="form-group {%if erreurID %}has-error {%endif%} has-feedback">
			<label class="control-label" for="NomProfil">Nom</label>
			<input type="text" class="form-control" name="NomProfil" id="NomProfil" placeholder="Enter nom">
			{%if erreurID %}
	       		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
	        	<span class="help-block">{{erreurID}}</span>
	        {%endif%}
	  	</div>
	  {% include "hexanhome/AjoutRegle.html" %}
 	</form>
{% endblock %}
{%block footer%}
<script language="JavaScript">
	function ChangeValue()
	{
		list = document.getElementById("nomDeclencheur");
		if (list.value == 'Temperature')
		{
			capteur = document.getElementById("divtemperature");
			capteur.style.display="block";
			capteur2 = document.getElementById("divPresence");
			capteur2.style.display = "none";
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
		}
		if(list.value == 'Presence'){
			capteur = document.getElementById("divtemperature");
			capteur.style.display="none";
			capteur2 = document.getElementById("divPresence");
			capteur2.style.display = "block";
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="none";
		}
		if (list.value == 'Jours'){
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="block";
			capteurTemperature = document.getElementById("divtemperature");
			capteurTemperature.style.display="none";
			capteurPresence = document.getElementById("divPresence");
			capteurPresence.style.display = "none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="none";
		}
		if (list.value == 'Heure'){
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurTemperature = document.getElementById("divtemperature");
			capteurTemperature.style.display="none";
			capteurPresence = document.getElementById("divPresence");
			capteurPresence.style.display = "none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="block";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="none";
		}
			if (list.value == 'Meteo'){
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurTemperature = document.getElementById("divtemperature");
			capteurTemperature.style.display="none";
			capteurPresence = document.getElementById("divPresence");
			capteurPresence.style.display = "none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="block";
		}
	$('.timepicker').timepicker({
		showMeridian: false
	});
	}
</script>

{% endblock %}