{% extends "base.html" %}
{% block title %}Ajout Capteur{% endblock %}
{% block header%}
<script language="JavaScript">
  function Lien()
  {
    optionSelect = document.formulaire.numeroIdentifiant.selectedIndex;
    numCapteur=document.formulaire.numeroIdentifiant.options[optionSelect].value;
    champNom=document.formulaire.NomCapteur;
    champNom.imput.value=nomCapteur;
  }

</script>
{% endblock %}
{% block content %}
<div class="container">
<h1>Ajout d'un capteur:</h1>
<form id="category_form" name="formulaire" method="post" action="/config/AjoutCapteur/">
	{% csrf_token %}
 	<div class="form-group">
    	<label>Nom</label>
    	<input type="text" class="form-control" name="NomCapteur" id="nomCapteur" placeholder="Enter nom">
  	</div>
  	{% if pieces %}
  	<div class="form-group">
  		<label>Pièce</label>
  		<SELECT name="nomPiece" size="1">
  			{% for piece in pieces %}
				<OPTION>{{ piece.nom }}
  			{% endfor %}
  		</SELECT>
  	</div>
  	{% endif %}
    {% if capteurs %}
    <div class="form-group">
      <label>Identifiant</label>
      <SELECT name="numeroIdentifiant"size="1">
        {% for capteur in capteurs %}
          {% if not capteur.nom  %}
        <OPTION>{{ capteur.identifiant }}
          {% endif %}
        {% endfor %}
      </SELECT>
    </div>
    {% endif %}
	<input type="submit" value="Valider" name="AjoutCapteur"  class="btn btn-default">
</form>


</div>
{% endblock %}