{% extends "base.html" %}
{% block title %}Ajout Pièce{% endblock %}
{% block content %}
	<h1>Ajout d'une pièce:</h1>
	<form id="category_form" method="post" action="/config/AjoutPiece/">
	 	{% csrf_token %}
	  	<div class="form-group {%if erreur %}has-error {%endif%} has-feedback">
			<label class="control-label" for="NomPiece">Nom</label>
			<input type="text" class="form-control" name="NomPiece" id="NomPiece" placeholder="Enter nom">
			{%if erreur %}
	       		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
	        	<span class="help-block">{{erreur}}</span>
	        {%endif%}
	  	</div>
		<input type="submit" value="Entrer"  class="btn btn-default">
  </form>

{% endblock %}