	<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Ajout d'une régle</h3>
			</div>
			<div class="panel-body">
				<label>Déclencheur</label>
				<SELECT name="nomDeclencheur" class="form-control" id="nomDeclencheur" onchange="ChangeValue();" size="1">
					<OPTION>Jours
					{% if listCapteurTemperature %}
					<OPTION>Temperature
					{%endif%}
					{% if listCapteurPresence %}
					<OPTION>Presence
					{%endif%}
					<OPTION>Heure
					<OPTION>Meteo
		  		</SELECT>
		  		</br>
		  		<label>Sélection du capteur déclencheur</label>
		  		<div id="divtemperature" style="display:none">
			  		{% if listCapteurTemperature %}
			  			<SELECT name="nomCapteurTemperature" class="form-control" id="nomCapteurTemperature"  size="1">
			  			{% for capteur in listCapteurTemperature %}
			  				<OPTION >{{capteur.nom}}
			  			{%endfor%}
			  			</SELECT>
			  		</br>
			  			<label class="control-label" for="temperatureValue">Entrer la valeur de la temperature </label>
			  			<input type="text"  class="form-control" name="temperatureValue" id="temperatureValue" placeholder="Entrer Temperature">
			  			<label class="checkbox-inline">
	  					<input type="checkbox" name = "minimum" id="minimum" value="minimum"  > Minimum
		  					
			  		{%endif%}
			  	</div>
			  	<div id="divPresence" style="display:none" >
			  		{% if listCapteurPresence %}
			  			<SELECT name="nomCapteurPresence" class="form-control" id="nomCapteurPresence"  size="1">
			  			{% for capteur in listCapteurPresence %}
			  				<OPTION >{{capteur.nom}}
			  			{%endfor%}
			  			</SELECT>
			  			<label class="checkbox-inline">
	  					<input type="checkbox" name = "isPresent" id="isPresent" value="isPresent"  > Present
			  		{%endif%}
		  		</div>
		  		<div id="nomJour" >
			  		<label class="checkbox-inline">
	  					<input type="checkbox" name="lundi" id="inlineCheckbox1" value="Lundi"> Lundi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="mardi" id="inlineCheckbox1" value="Mardi"> Mardi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="mercredi" id="inlineCheckbox1" value="Mercredi"> Mercredi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="jeudi" id="inlineCheckbox1" value="Jeudi"> Jeudi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name = "vendredi" id="inlineCheckbox1" value="Vendredi"> Vendredi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name = "samedi"id="inlineCheckbox1" value="Samedi"> Samedi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="dimanche" id="inlineCheckbox1" value="Dimanche"> Dimanche
					</label>
				</div>
				<div id="divHeure" style="display:none">
					<label class="control-label" for="heuredebut">Entrer l'heure de debut </label>
					<div class="input-group bootstrap-timepicker"/>
						<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
						<input class="form-control input input-small timepicker" type="text" name="heuredebut">
					</div>
					<label class="control-label" for="heurefin">Entrer l'heure de fin </label>
					<div class="input-group bootstrap-timepicker"/>
						<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
						<input class="form-control input input-small timepicker" type="text" name="heurefin">
					</div>
				</div>
				<div id="divMeteo" style="display:none">
					<label class="checkbox-inline">
					<input type="checkbox" name="thunderstorm" id="inlineCheckbox1" value="thunderstorm"> Tempête
					</label>
					<label class="checkbox-inline">
							<input type="checkbox" name="drizzle" id="drizzle" value="drizzle"> Pluie fine
					</label>
					<label class="checkbox-inline">
							<input type="checkbox" name="rain" id="rain" value="rain"> Pluie
					</label>
					<label class="checkbox-inline">
							<input type="checkbox" name="clouds" id="clouds" value="clouds"> Nuages
					</label>
					<label class="checkbox-inline">
							<input type="checkbox" name = "extreme" id="extreme" value="extreme"> Extrême
					</label>
				</div>
		  		</br>
		  		<label>Action</label>
		  		</br>
		  		{% if listActionneur %}
		  			<SELECT name="nomActionneur" class="form-control" id="nomActionneur"  size="1">
		  			<h2>CC</h2>
		  			{% for actionneur in listActionneur %}
		  				<OPTION >{{actionneur.nom}}
		  			{%endfor%}
		  			</SELECT>
	  				<input type="radio" name="action" value="on"> Allumer
					<input type="radio" name="action" value="off" checked> Eteindre
		  		{%endif%}	
			</div>
		<input type="submit" value="Entrer"  class="btn btn-default">
  </form>