	<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Ajout d'une régle</h3>
			</div>
			<div class="panel-body">
				<label>Déclencheur</label>
				<SELECT name="nomDeclencheur" id="nomDeclencheur" onchange="ChangeValue();" size="1">
					<OPTION>Temperature
					<OPTION>Presence
					<OPTION>Jours
					<OPTION>Heure
					<OPTION>Meteo
		  		</SELECT>
		  		</br>
		  		<label>Sélection du capteur déclencheur</label>
		  		<div id="divtemperature">
			  		{% if listCapteurTemperature %}
			  			<SELECT name="nomCapteurTemperature" id="nomCapteurTemperature"  size="1">
			  			{% for capteur in listCapteurTemperature %}
			  				<OPTION >{{capteur.nom}}
			  			{%endfor%}
			  			</SELECT>
			  		</br>
			  			<label class="control-label" for="temperatureValue">Entrer la valeur de la temperature </label>
			  			<input type="text"  class="form-control" name="temperatureValue" id="temperatureValue" placeholder="Entrer Temperature">
			  			<label class="checkbox-inline">
	  					<input type="checkbox" name = "minimum" id="minimum" value="minimum"  > Minimum
		  					
			  		{%endif%}
			  	</div>
			  	<div id="divPresence" style="display:none" >
			  		{% if listCapteurPresence %}
			  			<SELECT name="nomCapteurPresence" id="nomCapteurPresence"  size="1">
			  			{% for capteur in listCapteurPresence %}
			  				<OPTION >{{capteur.nom}}
			  			{%endfor%}
			  			</SELECT>
			  			<label class="checkbox-inline">
	  					<input type="checkbox" name = "isPresent" id="isPresent" value="isPresent"  > Present
			  		{%endif%}
		  		</div>
		  		<div id="nomJour" style="display:none">
			  		<label class="checkbox-inline">
	  					<input type="checkbox" name="lundi" id="inlineCheckbox1" value="Lundi"> Lundi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="mardi" id="inlineCheckbox1" value="Mardi"> Mardi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="mercredi" id="inlineCheckbox1" value="Mercredi"> Mercredi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="jeudi" id="inlineCheckbox1" value="Jeudi"> Jeudi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name = "vendredi" id="inlineCheckbox1" value="Vendredi"> Vendredi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name = "samedi"id="inlineCheckbox1" value="Samedi"> Samedi
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="dimanche" id="inlineCheckbox1" value="Dimanche"> Dimanche
					</label>
				</div>
				<div id="divHeure" style="display:none">
					<label class="control-label" for="Heure">Entrer l'heure de debut </label>
			  			<input type="text"  class="form-control" name="heuredebut" id="heuredebut" placeholder="HH:MM">
			  			<label class="control-label" for="Heure">Entrer l'heure de fin </label>
			  			<input type="text"  class="form-control" name="heurefin" id="heurefin" placeholder="HH:MM">
				</div>
				<div id="divMeteo" style="display:none">
					<label class="checkbox-inline">
	  					<input type="checkbox" name="thunderstorm" id="inlineCheckbox1" value="thunderstorm"> thunderstorm
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="drizzle" id="drizzle" value="drizzle"> drizzle
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="rain" id="rain" value="rain"> rain
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name="clouds" id="clouds" value="clouds"> clouds
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" name = "extreme" id="extreme" value="extreme"> extreme
					</label>
				</div>
		  		</br>
		  		<label>Action</label>
		  		</br>
		  		{% if listActionneur %}
		  			<SELECT name="nomActionneur" id="nomActionneur"  size="1">
		  			<h2>CC</h2>
		  			{% for actionneur in listActionneur %}
		  				<OPTION >{{actionneur.nom}}
		  			{%endfor%}
		  			</SELECT>
		  			<label class="checkbox-inline">
	  					<input type="checkbox" name = "action" id="action" value="action"  > On
		  		{%endif%}	
			</div>
		<input type="submit" value="Entrer"  class="btn btn-default">
  </form>