{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
        <div class="row" >

            {% for piece in user.piece_set.all%}
                <div class="{%if user.piece_set.all.count == 1%}col-md-12{%else%}col-md-6 {%endif%}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{piece.nom}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row" >
                                {% for capteur in piece.capteur_set.all%}
                                        <div class="col-md-6">
                                             <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{capteur.nom}}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="capteurAffichage">
                                                        {% for capteurvalue in capteur.attr_capteur_set.all%}
                                                            <h4>{{capteurvalue.id_attr}} :</h4>
                                                            {% if capteurvalue.id_attr.nom == 'contact' or 'presence' %}
                                                                {% if capteurvalue.id_attr.valeur == 1 %}
                                                                    <h5>Oui</h5>
                                                                {% elif capteurvalue.id_attr.valeur == 0 %}
                                                                    <h5>Non</h5>
                                                                {% else %}
                                                                    <h5>{{ capteurvalue.id_attr.valeur }}</h5>
                                                                {% endif%}
                                                            {%endif%}
                                                            {% if capteurvalue.id_attr.nom == 'contact' %}
                                                                    </br>
                                                                    </br>
                                                                    </br>
                                                             {% elif capteurvalue.id_attr.nom == 'temperature' %}
                                                                    </br>
                                                                    </br>
                                                                    </br>
                                                            {% endif%}
                                                        {% endfor %}
                                                    </div>
                                                    </br>
                                                    <form id="category_form" method="post" action="/home/">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="capteur_identifiant" value="{{capteur.identifiant}}">
                                                        <button type="submit" name="Supp_capteur"class="btn btn-danger btn-xs ">Supprimer Capteur</button>
                                                    </form>
                                                </div>
                                             </div>
                                        </div>
                                {% endfor %}
                            {% for actionneur in piece.actionneur_set.all%}
                                    <div class="col-md-6">
                                         <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{actionneur.nom}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                </br>
                                                    <div class="form-inline">
                                                         <form id="actionneur_form" method="post" action="/home/">
                                                                 {% csrf_token %}
                                                                <input type="hidden" name="actionneur_id1" value="{{actionneur.id}}">
                                                                <button type="submit" name="Actionner" class="btn btn-primary btn-xs  "> Allumer </button>
                                                       
                                                                <input type="hidden" name="actionneur_id2" value="{{actionneur.id}}">
                                                                <button type="submit" name="Eteindre" class="btn btn-primary btn-xs  ">Eteindre</button>
                                                      
                                                                 {% csrf_token %}
                                                                <input type="hidden" name="actionneur_id" value="{{actionneur.id}}">
                                                                <button type="submit" name="Learning" class="btn btn-primary btn-xs  ">Learning</button>

                                                        </form>
                                                    </div>
                                                </br>
                                                <form id="category_form" method="post" action="/home/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="actionneur_identifiant" value="{{actionneur.identifiant}}">
                                                    <button type="submit" name="Supp_actionneur"class="btn btn-danger btn-xs ">Supprimer Actionneur</button>
                                                </form>
                                            </div>
                                         </div>
                                    </div>
                            {% endfor %}
                        </div>
                            <form id="category_form" method="post" action="/home/">
                               {% csrf_token %}
                                <input type="hidden" name="piece_nom" value="{{piece.nom}}">
                                <button type="submit" name="Supp_piece"class="btn btn-danger btn-xs ">Supprimer pièce</button>
                            
                                <a id="lettre_{{lettre}}" href="/config/AjoutCapteur/" type="button" class="btn btn-default btn-xs">Ajouter Capteur</a>
                                <a id="lettre_{{lettre}}" href="/config/AjoutActionneur/" type="button" class="btn btn-default btn-xs">Ajouter Acttionneur</a>
                            </form>
                       </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if weather != ' '%}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Météo</h3>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-md-8">
                            <h3  style="display:table-cell; vertical-align:middle;">Temperature: {{weather.current_temp}}&deg;C </h3>
                        </div>
                        <div class="col-md-4">
                            <p style ="vertical-align:middle;">    Description: {{weather.description}} </p>
                        </div>
                    </div>
                   

                </div>
            </div>
            {% endif%}
    {% endif %}
{% endblock %}
