{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
        <div class="row" >
            {% for piece in user.piece_set.all%}
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{piece.nom}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row" >
                                {% for capteur in piece.capteur_set.all%}
                                        <div class="col-md-6">
                                             <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{capteur.nom}}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="capteurAffichage">
                                                        {% for capteurvalue in capteur.attr_capteur_set.all%}
                                                            <h4>{{capteurvalue.id_attr}} :</h4>
                                                            <h5>{{ capteurvalue.id_attr.valeur }}</h5>
                                                        {% endfor %}
                                                    </div>
                                                    </br>
                                                    <form id="category_form" method="post" action="/home/">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="capteur_identifiant" value="{{capteur.identifiant}}">
                                                        <button type="submit" name="Supp_capteur"class="btn btn-danger btn-xs ">Supprimer Capteur</button>
                                                    </form>
                                                </div>
                                             </div>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" >
                            {% for actionneur in piece.actionneur_set.all%}
                                    <div class="col-md-6">
                                         <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{actionneur.nom}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div id="capteurAffichage">
                                                    <h4>{{actionneur.valeur}} </h4>

                                                </div>
                                                </br>
                                                 <form id="actionneur_form" method="post" action="/home/">
                                                         {% csrf_token %}
                                                        <input type="hidden" name="actionneur_id" value="{{actionneur.identifiant}}">
                                                        <button type="submit" name="Actionner" class="btn btn-primary btn-xs  ">{% if actionneur.valeur == True%}Eteindre{%else%} Allumer {%endif%}</button>
                                                </form>
                                                 </br>
                                                <form id="category_form" method="post" action="/home/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="actionneur_identifiant" value="{{actionneur.identifiant}}">
                                                    <button type="submit" name="Supp_actionneur"class="btn btn-danger btn-xs ">Supprimer Actionneur</button>
                                                </form>
                                            </div>
                                         </div>
                                    </div>
                            {% endfor %}
                        </div>
                            <form id="category_form" method="post" action="/home/">
                                {% csrf_token %}
                                <input type="hidden" name="piece_nom" value="{{piece.nom}}">
                                <button type="submit" name="Supp_piece"class="btn btn-danger btn-xs ">Supprimer pièce</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% if weather != ' '%}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Météo</h3>
                </div>
                <div class="panel-body">
                    {% if weather.current_temp <= 0 %}
                        <div class="row" >
                            <div class="col-md-8">
                                <img  style="display:table-cell; vertical-align:middle;" alt="" src="{{MEDIA_URL}}meteo/j_ai_froid" width="50%"/>
                                <h3  style="display:table-cell; vertical-align:middle;">Temperature: {{weather.current_temp}}&deg;C </h3>
                            </div>
                            <div class="col-md-4">
                                <p style ="vertical-align:middle;">    Description: {{weather.description}} </p>
                            </div>
                        </div>
                    {%else%}
                        <div class="row" >
                            <div class="col-md-8">
                                <h3  style="display:table-cell; vertical-align:middle;">Temperature: {{weather.current_temp}}&deg;C </h3>
                            </div>
                            <div class="col-md-4">
                                <p style ="vertical-align:middle;">    Description: {{weather.description}} </p>
                            </div>
                        </div>
                    {% endif%}

                </div>
            </div>
            {% endif%}
    {% endif %}

  

{% endblock %}