{% extends "base.html" %}
{% block title %}Nouvel Utilisateur{% endblock %}
{% block head %}Nouvel Utilisateur{% endblock %}
{% block content %}

	{% if form.has_errors %}
	<p> Username or password didn't work. Please enter them again </p>
	{% endif %}

	<section>
	{% if form.errors %}
	  <p>Your username and password didn't match, please try again.</p>
	{% endif %}

		<form method="post" action="/nouvel_utilisateur">
			{% csrf_token %}

			{% for field in form.visible_fields %}
				<div class="form-group">
					<label >{{ field.label }}</label>
					<input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" type="password"> 
					{% if field.errors %}
						<span class="help-inline">
							{% for error in field.errors %}
							{{ error }}
							<br/> 
							{% endfor %}
						</span>

						{% if field.help_text%}
							<p class="help-block">
								{{ field.help_text}}
							</p>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
			<input type="submit" value="Submit"  class="btn btn-default">
		</form>
	</section>


{% endblock %}