{% extends "base.html" %}

{% block title %}{{piece_name}}{% endblock %}



{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Liste des capteurs</h3>
	</div>
	<div class="panel-body">
		{% if capteurValue %}
			{% for capteurtest,value in capteurValue.items %}
				<div class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading"  onClick="ChangeName();" name="PanelHeading">
							<form id="name_form" method="post" action="/profil/piece/{{piece_url}}/"  >
								{% csrf_token %}
								<h3 class="panel-title" id="ValueNomCapteur" name="oldNom">{{capteurtest.nom}}</h3>
								<input type="hidden" name="oldname" value="{{capteurtest.nom}}">
								<input type="text" class="form-control" name="NomCapteur" style="display:none" id="nomCapteur" placeholder="Entrer nom" value="{{capteurtest.nom}}">
							</form>
						</div>

						<div class="panel-body">
							{% if value %}
							{%for valeur in value%}
								{{valeur.id_attr.valeur}}
							{% endfor %}
							{% else %}
								</br>
							{% endif %}

				            <i class="fa fa-pencil-square-o"> Editer</i>
                        </div>
                    </div>
                </div>
            {% endfor %}
			<form id="category_form" method="post" action="/profil/piece/{{piece_name}}/">
				{% csrf_token %}
				<button type="submit" name='deletecapteur' class="btn btn-default btn-lg btn-block">Supprimer Capteur</button>
			</form>
		{% endif %}
		</br>
		<a class="btn btn-default btn-lg btn-block"  href="/config/AjoutCapteur">Ajout d'un capteur</a>
	</div>
</div>

<div class="panel panel-primary">

  	<div class="panel-heading">
  		<h3 class="panel-title">Liste des actionneurs</h3>
  	</div>
  	<div class="panel-body">
			{% if actionneur %}
			{% for actionneurs in actionneur %}
				<div class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{actionneurs.nom}}</h3>
						</div>
						<div class="panel-body">
							{{actionneurs.valeur}}
						</div>
					</div>
				</div>
			{% endfor %}
			<form id="category_form" method="post" action="/profil/piece/{{piece_url}}/">
				{% csrf_token %}
				<button type="submit" name='deleteactionneur' class="btn btn-default btn-lg btn-block">Supprimer actionneur</button>
			</form>
		{% endif %}
		</br>
		<a class="btn btn-default btn-lg btn-block"  href="/config/AjoutActionneur2">Ajout d'un actionneur</a>
	</div>
</div>

</br>
<div class="container">
	<form id="category_form" method="post" action="/profil/piece/{{piece_url}}/">
		{% csrf_token %}
		<button type="submit" name='deleteroombutton' class="btn btn-danger btn-lg btn-block">Supprimer pièce</button>
	</form>
</div>
			
	
					

{% endblock %}

{%block footer%}
<script language="JavaScript">
	function ChangeName()
	{
		panel = document.getElementById("nomCapteur");
		panel.style.display="block";
		nom=document.getElementById("ValueNomCapteur");
		nom.style.display="none"
	}
</script>

{% endblock %}