{% extends "base.html" %}
{% block title %}{{profil.nom}}{% endblock %}
{% block content %}

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{profil.nom}}</h3>
		</div>
		<div class="panel-body">
			{% for temperaturerule in profil.temperaturerule_set.all %}
				<div id="{{temperaturerule.id}}" class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading" name="PanelHeading">
							<div class="block-inline">
								 <span class="panel-title">
									<h3 class="panel-title"> <i onclick="supprimer({{temperaturerule.id}},'supprimerTemperatureRule');" class="glyphicon glyphicon-remove "> </i> Temperature</h3>
								</span>
							</div>
						</div>
						<div class="panel-body">
							<h3>Capteur déclencheur</h3>
							{{temperaturerule.idCapteur.nom}}
							<h3>Temperature souhaitée</h3>
							{{temperaturerule.temperatureValue}}
						</div>
					</div>
				</div>
			{%endfor%}
			{% for presencerule in profil.presencerule_set.all %}
				<div id="{{presencerule.id}}" class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading" name="PanelHeading">
							<h3 class="panel-title"><i onclick="supprimer({{presencerule.id}},'supprimerPresenceRule');" class="glyphicon glyphicon-remove "> </i> Presence</h3>
						</div>
						<div class="panel-body">
							<h3>Capteur déclencheur</h3>
							{{presencerule.idCapteur.nom}}
							<h3>Presence</h3>
							{{presencerule.isPresent}}
						</div>
					</div>
				</div>
			{%endfor%}
			{% for timerule in profil.timerule_set.all %}
				<div id="{{timerule.id}}" class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading" name="PanelHeading">
							<h3 class="panel-title"><i onclick="supprimer({{timerule.id}},'supprimerTimeRule');" class="glyphicon glyphicon-remove "> </i> Temps</h3>
						</div>
						<div class="panel-body">
							<h3>heure début</h3>
							{{timerule.start_time}}
							<h3>heure fin</h3>
							{{timerule.end_time}}
						</div>
					</div>
				</div>
			{%endfor%}
			{% for weatherrule in profil.weatherrule_set.all %}
				<div id="{{weatherrule.id}}" class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading" name="PanelHeading">
							<h3 class="panel-title"><i onclick="supprimer({{weatherrule.id}},'supprimerWeatherRule');" class="glyphicon glyphicon-remove "> </i> Meteo</h3>
						</div>
						<div class="panel-body">
							<h3>Condition météo</h3>
							{{weatherrule.weatherCondition}}
						</div>
					</div>
				</div>
			{%endfor%}
			{%if profil.weekdayrule_set.all  %}
				<div class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading" name="PanelHeading">
							<h3 class="panel-title"><i class="glyphicon glyphicon-remove "> </i> Jour</h3>
						</div>
						<div class="panel-body">
							<h3>Jour</h3>
							{% for dayrule in profil.weekdayrule_set.all %}	
								{% for jour in Jourcapteur_Action %}
									{% if jour.0 == dayrule.weekday%}
										{{ jour.1}}
									</br>
									{% endif%}
								{%endfor%}
							{%endfor%}
						</div>
					</div>
				</div>
			{%endif%}
			{% for actionregle in profil.ruleaction_set.all %}
				<div id="{{actionregle.id}}" class="col-xs-6 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading" name="PanelHeading">
							<h3 class="panel-title"><i onclick="supprimer({{actionregle.id}},'supprimerAction');" class="glyphicon glyphicon-remove "> </i> Action</h3>
						</div>
						<div class="panel-body">
							<h3>Actionneur déclencheée</h3>
							{{actionregle.actionneur.nom}}
							<h3>Action déclencheée</h3>
							{{actionregle.action}}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<form id="category_form" method="post" action="/profil/settings/{{profil.url}}/">
		{% csrf_token %}
			{% include "AjoutRegle.html" %}
			{% include "hexanhome/AjoutAction.html" %}
	</form>
	<form id="category_form" method="post" action="/profil/settings/{{profil.url}}/">
		{% csrf_token %}
		<button type="submit" name='deleteprofil' class="btn btn-danger btn-lg btn-block">Supprimer Profil</button>
	</form>
{% endblock %}
{%block footer%}
<script language="JavaScript">
	function ChangeValue()
	{
		list = document.getElementById("nomDeclencheur");
		if (list.value == 'Temperature')
		{
			capteur = document.getElementById("divtemperature");
			capteur.style.display="block";
			capteur2 = document.getElementById("divPresence");
			capteur2.style.display = "none";
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
		}
		if(list.value == 'Presence'){
			capteur = document.getElementById("divtemperature");
			capteur.style.display="none";
			capteur2 = document.getElementById("divPresence");
			capteur2.style.display = "block";
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="none";
		}
		if (list.value == 'Jours'){
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="block";
			capteurTemperature = document.getElementById("divtemperature");
			capteurTemperature.style.display="none";
			capteurPresence = document.getElementById("divPresence");
			capteurPresence.style.display = "none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="none";
		}
		if (list.value == 'Heure'){
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurTemperature = document.getElementById("divtemperature");
			capteurTemperature.style.display="none";
			capteurPresence = document.getElementById("divPresence");
			capteurPresence.style.display = "none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="block";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="none";
		}
			if (list.value == 'Meteo'){
			capteurJour = document.getElementById("nomJour");
			capteurJour.style.display="none";
			capteurTemperature = document.getElementById("divtemperature");
			capteurTemperature.style.display="none";
			capteurPresence = document.getElementById("divPresence");
			capteurPresence.style.display = "none";
			capteurHeure = document.getElementById("divHeure");
			capteurHeure.style.display="none";
			capteurMeteo = document.getElementById("divMeteo");
			capteurMeteo.style.display="block";
		}
		
	}
	function supprimer(idrule,nombutton){
		url = $(location).attr('href')
		url2 = url.split('profil')[1]
		url3 = '/profil' + url2
		$.post(url,{csrfmiddlewaretoken: '{{ csrf_token }}',idrule:idrule,nombutton:nombutton},function(msg){
			$('#'+idrule).html('');
		});
	}
</script>

{% endblock %}