{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		
			<title> {% block title %}{% endblock %}</title>
			<link rel="stylesheet" href="{% static 'hexanhome/css/bootstrap.min.css' %}">
			<link rel="stylesheet" href="{% static 'hexanhome/css/bootstrap-extensions.css' %}">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="{% static 'hexanhome/js/bootstrap.js' %}"></script>  
			{% block header %}{% endblock %}
 </head>

	<body>
		<div class="container">
				{% include "menu.html" %}
				<div class ="container">
					<h1>{% block head %}{% endblock %}</h1>
				</div>
			{% block content %}{% endblock %}

			<br>
			<br>
			<br>

			
		</div>

	</body>

</html>