{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		
			<title> {% block title %}{% endblock %}</title>
			<link rel="stylesheet" href="{% static 'hexanhome/css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'hexanhome/css/bootstrap.min.css'  %}" type="text/css">
			<link rel="stylesheet" href="{% static 'hexanhome/css/bootstrap-extensions.css' %}">
			<script src="{% static 'hexanhome/js/jquery-2.1.0.js' %}"></script>
    		<script src="{% static 'hexanhome/js/bootstrap.js' %}"></script>
		
	</head>

	<body>
	
				{% include "menu.html" %}
				<div class ="container">
					<h1>{% block head %}{% endblock %}</h1>
				</div>
			{% block content %}{% endblock %}

			<br>
			<br>
			<br>

			
	

	</body>

</html>