<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			<a href="#" class="navbar-brand">HexanHOME</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/home">Home</a></li>
				<li><a href="/profil">Profil</a></li>
				<li><a href="/config">Config</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li><a href="/logout">Logout</a></li>
				{% else %}
					<li><a href="/login">Login</a></li>
				{% endif %}
			</ul>
		</div> <!-- /.navbar-collapse -->
	</div>
</nav>